<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.collectingservice.mapper.CollectingMapper">
    <select id="findCollectedPrescribeCode" resultType="String">
            select prescribe_code
            from collecting
            where prescribe_code in
            (
            <foreach collection="barcodeList" item="item" separator=",">
                #{item}
            </foreach>
            )
            and (!isnull(collecting_dt))
            and isnull(cancel_collecting_dt);
    </select>

    <update id="updateCollectingData">
        update collecting
        set collecting_dt = now(), collector_id = #{userId}
        where prescribe_code in (
        <foreach collection="barcodeList" item="item" separator=",">
            #{item}
        </foreach>
            ) and isnull(cancel_barcode_dt);
        -- FIXME 채혈자 id 토큰에 있는걸로 할것
    </update>

    <select id="findPrescribeCodeByBarcode" resultType="String">
        select prescribe_code
        from collecting
        where prescribe_code in (
            <foreach collection="prescribeCodes" item="item" separator=",">
                #{item}
            </foreach>
            )

    </select>

    <update id="deleteCollectingData">
        update collecting
           set cancel_collecting_dt = now(), cancel_collecting_id = #{userId},collecting_dt = null, collector_id = null
         where prescribe_code in(
             <foreach collection="barcodeList" item="item" separator=",">
                 #{item}
             </foreach>
             )and isnull(cancel_barcode_dt);
    </update>
    <update id="updateCancelInspection">
        update collecting
        set is_canceled_inspection = ${status}
        where prescribe_code in (
        <foreach collection="prescribeCode" item="item" separator=",">
            ${item}
        </foreach>
        )
    </update>

</mapper>

        <!--        CREATE TABLE `collecting` (-->
        <!--        `barcode`	varchar(30)	NOT NULL,-->
        <!--        `status_code`	varchar(2)	NOT NULL,-->
        <!--        `barcode_dt`	datetime	NOT NULL,-->
        <!--        `collecting_dt`	datetime	NULL,-->
        <!--        `barcode_printer_id`	varchar(20)	NOT NULL,-->
        <!--        `collector_id`	varchar(20)	NULL,-->
        <!--        `prescribe_code`	bigint	NOT NULL-->
        <!--        );-->