<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.collectingservice.mapper.CollectingMapper">
    <select id="findCollectedBarcode" resultType="Integer">
            select count(barcode)
            from collecting
            where barcode in
            (
            <foreach collection="barcodeList" item="item" separator=",">
                #{item}
            </foreach>
            )
            and !isnull(collecting_dt);
    </select>

    <update id="updateCollectingData">
        update collecting
        set collecting_dt = now(), collector_id = 'N001', status_code='C'
        where barcode in (
        <foreach collection="barcodeList" item="item" separator=",">
            #{item}
        </foreach>
            )
        -- FIXME 채혈자 id 토큰에 있는걸로 할것
    </update>
</mapper>

        <!--        CREATE TABLE `collecting` (-->
        <!--        `barcode`	varchar(30)	NOT NULL,-->
        <!--        `status_code`	varchar(2)	NOT NULL,-->
        <!--        `barcode_dt`	datetime	NOT NULL,-->
        <!--        `collecting_dt`	datetime	NULL,-->
        <!--        `barcode_printer_id`	varchar(20)	NOT NULL,-->
        <!--        `collector_id`	varchar(20)	NULL,-->
        <!--        `prescribe_code`	bigint	NOT NULL-->
        <!--        );-->