<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.collectingservice.mapper.SampleMapper">
    <insert id="insertUnsuitableSampleInfo" parameterType="Map">
        INSERT INTO unsuitable_status_management (barcode, unsuitable_reason_code, unsuitable_reason_text, notificator_id, notified_user_id, unsuitable_update_dt)
        VALUES (#{sampleBarcode}, #{selectedReason}, #{query}, #{notificatorId}, #{notifiedId}, now());
    </insert>
</mapper>